body.blog #header {
    padding: 30px 0px;
    padding-bottom: 25px;
}

body.blog .green-fluid .container {
    position: relative;
}

body.blog #search-bar {
    position: absolute;
    top: 22px;
    right: 15px;
    z-index: 999;
}

body.blog #site-branding .site-description {
    font-style: normal;
    font-size: 24px;
    padding-top: 44px;
}

#menu-menu-blog {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    margin-top: 51px;
}

#menu-menu-blog li {
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    line-height: 20px;
}

#menu-menu-blog li a {
    color: #fff200;
    text-transform: uppercase;
}

#menu-menu-blog li a:hover {
    text-decoration: none;
    color: #fff;
}
#menu-menu-blog li.current-menu-item a{
    color: #ffffff;
}
#menu-menu-blog li:before {
    content: '';
    height: 100%;
    width: 1px;
    background: #fff200;
    position: absolute;
    left: 0;
    top: 0;
}

#menu-menu-blog li:first-child:before {
    display: none;
}

#blog-cover {
    position: relative;
    margin-bottom: 35px;
}

#blog-cover:before {
    content: '';
    display: block;
    padding-top: 20%;
}

#blog-cover .content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-size: cover;
}

.blog-list {
    min-height: 200px;

}

.blog-item {
    background-color: #fff;
    margin-bottom: 25px;
    border: 1px solid #E3E3E2;

}

.blog-item .header {

}

.blog-item .timestamp {
    width: 120px;
    float: left;
    text-align: center;
    padding: 13px 0;

}

.blog-item .timestamp .date {
    font-size: 32px;
    font-weight: bold;

}

.blog-item .timestamp .year {

}

.blog-item .timestamp .month {

}

.blog-item .metas {
    margin-left: 120px;
    padding: 24px 30px;
    min-height: 111px;
    border-left: 1px solid #E3E3E2;

}

.blog-item .title {
    font-family: 'Bebas';
    font-size: 30px;;
    display: block;
}

.blog-item .title:hover {
    text-decoration: none;
}

.blog-item .author {

}

.blog-item .author b {
    color: #45a478;
}

.blog-item .cover {
    position: relative;
    margin: 0 -1px;
    display: block;
}

.blog-item .cover:before {
    content: '';
    display: block;
    padding-top: 56.25%;
}

.blog-item .cover .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;

}

.blog-item .main {
    padding: 25px;

}

.blog-item .main .content {

}

.blog-item .main .read-more {
    float: none;
    position: relative;
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 0;
}

.blog-pagination {
    background-color: #fff;
    border: 1px solid #E3E3E2;
    padding: 10px 25px;
    margin-bottom: 40px;
}

.blog-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-pagination li {
    display: inline-block;
}

.blog-pagination a {
    background: #45a478;
    color: #fff200;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 13px;
    display: inline-block;
}
.blog-pagination a.current{
    color: white;
}
.blog-pagination a:hover {
    background-color: #71a4a1;
    text-decoration: none;
}

body.blog .flex-control-nav {
    text-align: center;
    bottom: 5px;

}

.blog-tabs {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #E3E3E2;

}

.blog-tabs .nav {
    background-color: #F6F6F5;
    border-bottom: none;

}

.blog-tabs .nav li {
    width: 50%;

}

.blog-tabs .nav li a {
    font-size: 10px;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid #E3E3E2;
    margin-right: 0;
    border-radius: 0;
    text-align: center;
}


.blog-tabs .nav li a:active,
.blog-tabs .nav li a:hover,
.blog-tabs .nav li a:focus {
    border: none;
}

.blog-tabs .nav li.active a {
    border-top: none;
    border-left: none;
    background-color: #fff;
    border-color: #E3E3E2;
    border-bottom: 1px solid transparent;
    margin-right: 0;
    border-right: 1px solid #E3E3E2;
}

.blog-tabs .nav li:last-child.active a {
    border-left: 1px solid #E3E3E2;
    border-right: none;
}

.blog-tabs .nav li a:hover {
    border-bottom: 1px solid #E3E3E2;
}

.blog-tabs .nav li.active a:hover {
    border-bottom: 1px solid transparent;
}

.blog-tabs .tab-content {
    padding: 15px;

}

.blog-tabs .tab-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-small-item {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E3E3E2;;

}

ul .blog-small-item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.blog-small-item .cover {
    width: 52px;
    height: 52px;
    position: relative;
    display: block;
    float: left;

}

.blog-small-item .cover:before {
    content: '';
}

.blog-small-item .cover .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;

}

.blog-small-item .metas {
    margin-left: 52px;
    font-size: 12px;
    padding-left: 15px;
    min-height: 52px;

}

.blog-small-item .title {
    font-size: 13px;
    line-height: 125%;
    margin-bottom: 2px;
    display: inline-block;
}

.blog-small-item .title:hover {
    text-decoration: none;
}

.blog-small-item .timestamp {
    color: #999;

}

#blog-detail .blog-item .header {
    border-bottom: 1px solid #E3E3E2;
}

body.blog ul.you-might-also-like li.item {
    width: calc(25% - 25px);
    margin-right: 25px;
    float: none;;;

}

body.blog .product-collateral {
    background-color: #fff;
    margin-bottom: 25px;
    border: 1px solid #E3E3E2;
    padding: 25px;
    padding-right: 0;

}

body.blog .product-collateral h3 {
    border-bottom: none;
    margin-bottom: 0;
}

.flexslider .slide-content {
}

body.blog .flexslider .slide-content {
    display: block;
    min-height: 130px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.45);
}

body.blog .you-might-also-like .product-name a {
}

body.blog ul.you-might-also-like li.item .timestamp {
    font-size: 12px;
    color: #999;
}

body.blog .you-might-also-like {
    margin-bottom: 0;
}

.fb-like {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tags-box {
    border-top: 1px solid #E3E3E2;
    padding-top: 20px;

}

.tags-box span {
    white-space: nowrap;

}

.tags-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-left: 11px;
    white-space: nowrap;

}

.tags-box li {
    display: inline-block;
    background-color: #F6F6F5;
    border-radius: 2px;
    padding: 5px 15px;
    margin-right: 5px;
    font-size: 13px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.fb-comment-box {
    background-color: #fff;
    margin-bottom: 25px;
    border: 1px solid #E3E3E2;
    padding: 25px;
}

.blog .contentSlider.flexslider:before {
    padding-top: 56.25%;
}

#blog-menu {
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    min-height: 126px;
    position: fixed;
    z-index: 777;
    background-color: rgba(0, 0, 0, 0.45);
}

#blog-menu #header {
    background: none;
}


.topics {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #E3E3E2;
    padding: 15px;
}

.topics li {
    padding: 10px 0;
    border-top: 1px solid #F6F6F5;
}

.topics li:last-child {

}

.topics a {
    color: #45a478;
    font-size: 14px;

}

.topics h3 {
    margin: 10px 0;
    margin-bottom: 20px;

}

.topics ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topics li.active {

}

.topics li.active a {
    color: #333;

}

#testimonials .blog-item .header {
    border-bottom: 1px solid #E3E3E2;
}