/**
 * fonts
 */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/uvfbebasneue-webfont.eot');
    src: url('../fonts/uvfbebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/uvfbebasneue-webfont.woff2') format('woff2'), url('../fonts/uvfbebasneue-webfont.woff') format('woff'), url('../fonts/uvfbebasneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-regular-webfont.woff2') format('woff2'),
    url('../fonts/lato-regular-webfont.woff') format('woff'),
    url('../fonts/lato-regular-webfont.ttf') format('truetype'),
    url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-lightitalic-webfont.eot');
    src: url('../fonts/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-lightitalic-webfont.woff2') format('woff2'), url('../fonts/lato-lightitalic-webfont.woff') format('woff'), url('../fonts/lato-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

p, div, span {
    font-family: 'Lato';
}

p {
    margin: 0;
}

body, a {
    font-size: 14px;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas';
    font-weight: 500;
}


.btn.register {
    text-transform: uppercase;
    font-family: "Bebas";
    font-size: 20px;
    color: #fff200;
    background-color: #45a478;
    border-radius: 0;
    padding: 2px 15px;
    margin-bottom: 10px;
    border: none;
    display: block;
}

.btn.register:hover {
    background-color: #71a4a1;
}