@media screen and (max-width: 765px){
    /*Retina screen on iphone*/
    body{
        width: 100%;
        min-width:0;
    }
    .top-header input{
        width: 90px;
    }
    .container{
        width:100%;
    }
    /*.slider{
        height: 300px !important;
    }
    #jssor_1{
        height: 300px !important;
    }
    .jssorl-009-spin{
        height: 300px !important;
    }*/
    .main-menu .container .text-center{
        text-align: left;
    }
    .main-menu nav a{
        margin-bottom: 10px;
        display: block;
    }
    .step-3{
        width: 100%;
    }
    .home-page-edit .step-1-left{
        width: 100%;
    }
    /* Region Step */
    .step-register{
        background-color: black !important;
        min-height:300px;
    }
    .user-input input{
        width: 100%;
        margin-top: 30px;
    }
    .step-1 h2{
        font-size: 20px;
    }
    .des-step-1{
        font-size: 13px;
    }
    .step-2 span.des-step-2{
        font-size: 13px;
    }
    .step-2 h2{
        font-size: 20px;
    }
    .step-3 h2{
        font-size: 20px;
    }
    .step-3 span.des-step-2{
        font-size: 13px;
    }
    /* End Region */
    .step-3 .step-3-left{
        float: none;
        display: block;
        width: 100%;
    }
    .step-3 .step-3-right{
        float: none;
        display: block;
        width: 100%;
    }
    .footer-custom .des-footer{
        width: 100% !important;
        padding-left:0;
    }
    .footer .des-footer.help{
        padding-left:0;
    }
    /*Đã login*/
    .user-email, .user-price{
        top: 10px;
        left: 10px;
    }
    .home-page-edit .step-1-left{
        margin-top: 30px;
    }
    .step-success{
        min-height: 100px;
        background-color: black;
    }
    .step-success .next-resgister{
        right: 4px;
    }
    .iconQuestion{
        display: none;
    }
    .chooseBank{
        width: 300px;
    }
    .step-3-left > img{
        margin: 25px 0 !important;
    }
    .step-3-right > img{
        margin: 25px 0 !important;
    }
    .step-3-right > img:nth-child(1){
        width: 130px !important;
    }
    .fieldForm{
        margin-top: 10px;
    }
    /* Tai khoan dung thu bong 88*/

    #pSport .left_ct{
        display: none;
    }
    #pSport .right_ct{
        width: 100%;
        float: none;
    }
    .mylivechat_template1{
        left: 0;
    }
}