.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
    padding: 20px 10px;
}

/*header*/
#search-bar .search-box input[type="text"] {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    background: #ececec;
    padding-right: 69px;
    font-size: 12px;
    color: #45a478;
}

#search-bar .search-box input[type="text"]::-webkit-input-placeholder {
    color: #45a478;
    line-height: 17px;
}

#search-bar .search-box input[type="button"] {
    outline: none;
    border: none;
    background: transparent;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    top: 1px;
    right: 3px;
    letter-spacing: 1px;
}

#site-branding {

}

#header {
    background: #45a478;
    padding: 22px 1px;
    padding-bottom: 33px;
}

#site-branding .site-title {
    margin: 0;
    overflow: hidden;
    height: 68px;
    float: left;
}

#site-branding .site-title a {
    /*background: url('../images/logo.svg') center center no-repeat;*/
    background-size: contain;
    width: 123px;
    height: 67px;
    display: inline-block;
}

#site-branding .site-description {
    margin: 0;
    color: #fff200;
    font-weight: normal;
    font-style: italic;
    height: 69px;
    margin-left: 135px;
    position: relative;
    line-height: 120%;
}

#site-branding .site-description span {
    position: absolute;
    bottom: 0px;
}

#site-navigation {
    margin-top: 9px;
    text-align: right;
}

#site-navigation .nav-menu {
    margin-bottom: 0;
    padding-left: 0;
}

ul.nav-menu li {
    background-size: 35px 28px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center top;
}

ul.nav-menu li a {
    height: 100%;
    width: 50px;
    color: #fff200;
    display: inline-block;
    /*padding-top: 35px;*/
    text-align: center;
    background-position: center 12px;
    background-repeat: no-repeat;
    text-decoration: none;
    font-size: 14px;
}

ul.nav-menu li a > i {
    font-size: 41px;
}

/*.nav-menu .home{
    background-image: url('../images/icons/nha.png');
}
.nav-menu .calendar{
    background-image: url('../images/icons/lich.png');
}
.nav-menu .calendar:hover{
    background-image: url('../images/icons/lich_hover.png');
}
.nav-menu .calendar.current-menu-item{
    background-image: url('../images/icons/lich_hover.png');
}
.nav-menu .class{
    background-image: url('../images/icons/lop.png');
}
.nav-menu .class:hover{
    background-image: url('../images/icons/lop_hover.png');
}.nav-menu .class.current-menu-item{
    background-image: url('../images/icons/lop_hover.png');
}
.nav-menu .talk{
     background-image: url('../images/icons/noi.png');
}
.nav-menu .talk:hover{
    background-image: url('../images/icons/noi_hover.png');
}.nav-menu .talk.current-menu-item{
    background-image: url('../images/icons/noi_hover.png');
}
.nav-menu .touch{
    background-image: url('../images/icons/cham.png');
}
.nav-menu .touch:hover{
    background-image: url('../images/icons/cham_hover.png');
}.nav-menu .touch.current-menu-item{
    background-image: url('../images/icons/cham_hover.png');
}
.nav-menu .shop{
    background-image: url('../images/icons/shop.png');
}
.nav-menu .shop:hover{
    background-image: url('../images/icons/shop_hover.png');
}.nav-menu .shop.current-menu-item{
    background-image: url('../images/icons/shop_hover.png');
}
.nav-menu .blog{
    background-image: url('../images/icons/blog.png');
}
.nav-menu .blog:hover{
    background-image: url('../images/icons/blog_hover.png');
}.nav-menu .blog.current-menu-item{
    background-image: url('../images/icons/blog_hover.png');
}
.nav-menu .book{
    background-image: url('../images/icons/sach.png');
}
.nav-menu .book:hover{
    background-image: url('../images/icons/sach_hover.png');
}.nav-menu .book.current-menu-item{
    background-image: url('../images/icons/sach_hover.png');
}
.nav-menu .about{
     background-image: url('../images/icons/toatau.png');
}
.nav-menu .about:hover{
    background-image: url('../images/icons/toatau_hover.png');
}.nav-menu .about.current-menu-item{
    background-image: url('../images/icons/toatau_hover.png');
}*/

/*footer*/
#site-footer {
    background: #45a478;
    padding: 7px 15px;
    color: #fff200;
    padding-bottom: 20px;
}

#site-footer .footer-navigation h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}

#site-footer ul li {
    line-height: 1.3;
    margin: 0 0 12px 0px;
    padding: 0;
}

#site-footer ul {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff200;
}

#site-footer ul li a:active,
#site-footer ul li a {
    margin: 0;
    padding: 0;
    color: #fff200;
    font-size: 14px;
    display: inline-block;
}

#site-footer .content {
    padding-right: 35px;
    position: relative;
}

#site-footer .contact li a,
#site-footer .connect li a {
    display: block;
    margin: 0;
    padding: 1px 0 0 30px;
    position: relative;
}

#site-footer .contact li a i,
#site-footer .connect li a i {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

#site-footer .connect li a i {
    font-size: 18px;
}

/*#site-footer .contact .address a  {
    background-image: url('../images/icons/location.png');
}
#site-footer .contact .phone a  {
    background-image: url('../images/icons/phone.png');
}
#site-footer .contact .email a  {
    background-image: url('../images/icons/email.png');
}
*/
#site-footer .contact li a, #site-footer .connect li a {
    background-position: 0 50%;
    margin: 0;
    padding: 1px 0 0 33px;
    background-size: 20px 20px;
    display: inline-block;
    background-repeat: no-repeat;
}


#site-footer .contact li a {
    padding-top: 3px;
}


/*#site-footer .contact .address a  {
    background-image: url('../images/icons/location.png');
}
#site-footer .contact .phone a  {
    background-image: url('../images/icons/phone.png');
}
#site-footer .contact .email a  {
    background-image: url('../images/icons/email.png');
}*/
/*#site-footer .connect .facebook a  {
    background-image: url('../images/icons/fb.png');
}
#site-footer .connect .youtube a  {
    background-image: url('../images/icons/youtube.png');
}
#site-footer .connect .instagram a  {
    background-image: url('../images/icons/insta.png');
}*/
.page-path {
    padding: 5px;
    border-bottom: 1px solid #DCDCDC;
    padding-left: 15px;
}

/* content */
#content {
    min-height: 300px;
    background: #f6f6f5;
    font-size: 14px;
    padding: 15px;
}

.page-title {

}

.page-title h2 {
    font-weight: normal;
    margin: 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
}

#content .schedule {
    background: #ffffff;
    margin-top: 15px;
    margin-right: 0px;
    border: 1px solid #DCDCDC;
}

.schedule .table-title {
    text-transform: uppercase;
    border-bottom: 1px dotted #DCDCDC;
    padding: 12px 0px;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 20px;
}

.schedule .schedule-month {
    margin: 15px;
}

#content .right-nav {
    margin: 15px;
    margin-left: 0px;
}

/* site info */
.site-info {
    float: right;
}

#calendar-filters {
    margin: 2em 0;
}

#calendar-filters ul {
    list-style: none;
    padding-left: 0px;
}

#calendar-filters ul li a {
    line-height: 25px;
    background: none;
    text-transform: none;
    color: #000;
    text-decoration: none;
}

#calendar-filters .item p {
    font-family: "Bebas";
    font-size: 20px;
    text-transform: uppercase;
    line-height: 28px;
    margin: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

#calendar-filters .item span {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000000;
    float: right;
    margin-top: -20px;
}

#calendar-filters ul li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
    position: relative;
}

#calendar-filters ul li a:hover {
    color: #45a478;
}

#calendar-filters ul li a {
    line-height: 35px;
    background: none;
    text-transform: none;
}

#calendar-filters ul li a.selected {
    padding-right: 18px;
    background: url(../images/btn_remove.gif) right center no-repeat;
}

.tab {
    border-bottom: 1px solid #c5c5c4;
    margin-bottom: 20px;
    padding: 15px 0;
    padding-bottom: 0px;
    margin: 0 15px;
}

.tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: -1px;
}

.tab li {
    display: inline-block;
}

.tab li a {
    font-family: bebas;
    display: block;
    line-height: 32px;
    color: #fff200;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 15px;
    text-decoration: none;
    background-color: #45a478;
    margin-right: 11px;
    border: 1px solid transparent;
    height: 31px;
}

.tab li:hover a {
    background: #fff;
    color: #333333;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.tab li.active a {
    background-color: #fff200;
    border-color: #949ba1;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.page-metas {
    display: inline-block;
    width: calc(100% - 30px);
    margin: 0px 15px;
    padding: 15px 0;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    margin-top: 15px;
    margin-bottom: 10px;
}

.page-desc {
    padding: 0px;
    float: left;
    line-height: 30px;
    position: relative;
}

.filter {
    float: right;
    text-align: right;
}

ul.event-list {
    list-style: none;
    margin: 0px 0;
    padding: 15px;
    padding-right: 0;
    display: inline-block;
    width: 100%;
}

ul.home.event-list {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    width: auto;
    margin-right: -15px;
}

ul.event-list li.item {
    margin-bottom: 20px;
    width: calc(25% - 15px);
    margin-right: 15px;
    float: left;
    position: relative;
}

ul.home.event-list li.item {
    width: calc(33.33% - 15px);
}

ul.event-list li.item .content {
    background: #fff;
    border: 1px solid #E3E3E2;
}

ul.event-list li.item .content .course-type {
    width: 100%;
    font-weight: 300;
    color: #333;
    font-size: 12px;
    padding: 18px 12px;
    padding-bottom: 0px;
    height: 35px;
}

ul.event-list li.item .content a.name {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Bebas';
    font-weight: normal;
    color: #333333;
    margin-bottom: 20px;
    display: inline-block;
    line-height: 125%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}

ul.event-list li.item .content a.name:hover {
    color: #45a478;
    text-decoration: none;
}

ul.home.event-list li.item .content a.name {
    padding-top: 19px;
    padding-bottom: 10px;
    height: 70px;
}

ul.event-list li.item .content .class-content {
    margin-top: 0px;
    margin-bottom: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding: 20px 12px;
}

ul.event-list li.item .content a.cover {
    width: 100%;
    display: inline-block;
    background: #ebebeb;
    overflow: hidden;
    margin-bottom: 10px;
    /*max-height: 60%;*/
    position: relative;
}

ul.event-list li.item .content a.cover:before {
    padding-top: 100%;
    content: '';
    display: block;
}

ul.event-list li.item .content a.cover img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

a.read-more {
    color: #333333;
    font-size: 17px;
    padding: 2px 15px;
    text-transform: uppercase;
    font-family: Bebas;
    border: 1px solid #E3E3E2;
    width: auto;
    display: inline-block;
}

a.read-more:hover {
    background: #333;
    color: #fff;
    text-decoration: none;
    border-color: #333;
}


ul.event-list li.item .content a.read-more {
    position: absolute;
    left: 12px;
    bottom: 20px;
}

ul.event-list li.item .content a.read-more:hover {

}


ul.event-list li.item .content .description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 35%;
    line-height: 1.3;
    font-size: 14px;
    height: 54.6px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

#staff li.item .content {
    background: none;
    border: none;
}
#staff li.item .content .cover img{
    -webkit-transition:top .4s ease-in-out,right .4s ease-in-out;
    -moz-transition:top .4s ease-in-out,right .4s ease-in-out;
    -o-transition:top .4s ease-in-out,right .4s ease-in-out;
    transition:top .4s ease-in-out,right .4s ease-in-out
}
#staff li.item .content .cover:hover img{
    top:-230px;
    right:-330px;
    padding-bottom:200px;
    padding-left:300px
    z-index: -1;
}
#staff li.item .content .staff-description{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff200;
    background-color: #45a478;
    padding: 10px;
}
#staff li.item .content .class-content{
    margin-bottom: 0;
    padding-bottom: 5px;
    border-top: none;
}
#staff li.item .content a.name {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-top: 0;
    height: 23px;
}
#staff li.item .content .position {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-top: 0;
    height: 23px;
    padding-right: 12px;
    padding-left: 12px;
    text-transform: uppercase;
}
#staff li.item {
    margin-bottom: 20px;
    width: calc(20% - 15px);
    margin-right: 15px;
    float: left;
    position: relative;
}

.page-metas .pagination {
    line-height: 30px;
    text-align: center;
    margin: 0;
}

.page-metas .pagination a.current {
    cursor: default;
    text-decoration: none;
    font-weight: bold;
}
.corner-tag {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 26px;
    height: 26px;
    border-right: 26px solid #45a478;
    border-bottom: 26px solid #ffffff;
}

.corner-status {
    position: absolute;
    top: 11px;
    right: 11px;
    width: auto;
    height: 21px;
    line-height: 21px;
    color: #fff200;
    background-color: #45a478;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Bebas';
    padding: 0 20px;
}

.present.corner-status {
    color: #45A478;
    background-color: white;
    border: solid 1px #45A478;
}

.product-img-box img {
    width: 100%;
}

.class-info {
    margin-top: 15px;
    margin-bottom: 15px;
}

.class-info .left-info {
    border: 1px solid #E3E3E2;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 20px 22px;
}

.btn.white {
    text-transform: uppercase;
    font-family: "Bebas";
    font-size: 17px;
    color: #45a478;
    background-color: #ffffff;
    border-radius: 0;
    padding: 0px 11px;
}

.btn.register:hover {
    background-color: #71a4a1;
}

.right-info .course-info {
    position: relative;
    padding: 0px 22px;
    border: 1px solid #e3e3e2;
    padding-bottom: 40px;
}

h3.header {
    margin: 0;
    width: 100%;
    color: #fff200;
    background-color: #45a478;
    padding: 2px 22px;
    height: 40px;
    line-height: 40px;
}

.right-info .register-info {
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 40px;
    border-color: #D8D8D8;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    width: 100%;
    float: left;
    min-height: 437px;
}

@media (min-width: 992px) {
    .right-info .register-info {
        min-height: 300px;
    }
}

@media (min-width: 1200px) {
    .right-info .register-info {
        min-height: 437px;
    }

    .right-info .about {
        min-height: 441px;
    }
}

.product-collateral h3 {
    margin: 0;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.you-might-also-like {
    list-style: none;
    margin-bottom: 12px;
    padding-left: 0;
    width: 100%;
    display: block;
    font-size: 0;
}

ul.you-might-also-like li.item {
    width: calc(20% - 15px);
    margin-right: 15px;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
    float: left;
}

ul.you-might-also-like li.item a.product-image {
    width: 100%;
    position: relative;
    height: auto;
    background: #fff;
    overflow: hidden;
}

ul.you-might-also-like li.item a.product-image:before {
    padding-top: 100%;
    content: '';
    display: block;
}

ul.you-might-also-like li.item a.product-image img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
}

ul.you-might-also-like li.item > * {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

.you-might-also-like .product-image img {
    width: 100%;
    height: auto;
}

.you-might-also-like .product-name a {
    color: #000000;
    display: -webkit-box;
    height: 34px;
    font-size: 14px;
    line-height: 125%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.you-might-also-like .product-name a:hover {
    color:#45a478;
    text-decoration: none;
}

.you-might-also-like .product-name {
    margin-bottom: 5px !important;
}

.page-metas .filter a.selected {
    padding-right: 18px;
    background: url(../images/btn_remove.gif) right center no-repeat;
    text-decoration: none;
    text-transform: none;
    color: black;
}

.form-group .radio, .form-group .checkbox {
    margin-left: 20px;
}

.form-group label {
    font-weight: normal;
}

.flexslider .slide-content {
    padding: 12px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.flexslider .slide-content h2 {
    font-size: 30px;
    color: #fff;
    font-family: 'Bebas';
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flexslider .slide-content > div {
    color: rgba(255, 255, 255, 0.8);
    padding: 0 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 35%;
    line-height: 1.3;
    font-size: 14px;
    height: 37.6px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.flexslider li {

}

.flex-control-nav {
    bottom: -25px;
    z-index: 9;
    right: 10px;
    text-align: right;
}

.flex-control-paging li a {
    width: 14px;
    height: 14px;
    display: block;
    background: white;
    border: solid 1px rgba(0,0,0,.1);
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent: -999px;
    overflow: hidden;
    text-align: center;
    background-color: #e9e9e7;
    padding: 3px;
}

.flex-control-nav li {
    margin: 0px 3px;
}

.flexslider {
    margin: 0;
    border: none;
    background: transparent;
    margin-bottom: 40px;
}

.background-image {
    -webkit-background-size: cover;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.class-info .description {
    margin-top: 30px;
}

.class-info .description iframe {
    max-width: 100%;
}

.class-info h3 {
    font-size: 20px;
    /*cursor: pointer;*/
}

.class-info .right-info {
    position: relative;
    background: #e9e9e7;
    padding: 0;
}

#about-us .right-info {
    background: transparent;

}

.course-info .instructor-img {
    margin-bottom: 15px;
}

.testimonials {
    font-style: italic;
}

.register-info .fee {
    margin-bottom: 20px;
}

.register-info .fee-desc {
    margin-bottom: 20px;
}

.register-info p {
    margin-bottom: 10px;
}

.register-info .solid-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.class-info .note {
    font-style: italic;
    padding: 0 15px;
    padding-bottom: 5px;
}

.left-info-register .question-form {
    padding: 22px 7px;
}

.class-info .left-info-register {
    border: 1px solid #e3e3e2;
    background: #fff;
    padding-bottom: 22px;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.question-form {

}

.form-group {
    padding-right: 0px;
}

.nopadding {
    padding: 0;
}

.btn.next {
    text-transform: uppercase;
    font-family: "Bebas";
    font-size: 15px;
    background-color: #fff200;
    border-radius: 0;
    padding: 2px 10px;
    border: 1px solid #e3e3e2;
}

.btn.next:hover {
    background-color: #ffc444;
}

.arrow-down {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #fff200;
    float: right;
    margin-top: 8px;
}

.arrow-right {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 16px solid #fff200;
    float: right;
    margin-top: 8px;
}

#register-confirm-info-table table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0.5em;
}

#register-confirm-info-table table tr th,
#register-confirm-info-table table tr td {
    padding-bottom: 5px;
    vertical-align: top;
}

#register-confirm-info-table table th {
    width: 30%;
    text-align: right;
    text-transform: uppercase;
}

#register-confirm-info-table table td {
    text-align: left;
    padding-left: 20px;
}

.success-registration {
    margin: 0 auto;
    width: 500px;
    background: #fff;
    border: 1px solid #E3E3E2;
}

.success-registration .padding {
    padding: 15px;
}

.success-registration h4 {
    line-height: 140%;
}

.right-info .about {
    text-align: center;
}

.right-info .about h2 {
    font-size: 22px;
    line-height: 125%;
}

.right-info .about .description {
    margin: 15px;
}

.right-info .line {
    border-bottom: 1px dotted #B5B4B4;
}

.right-info .email-register {
    background-color: #45A478;
    padding: 10px;
}

.right-info .email-register h3 {
    margin-top: 0;
    font-size: 20px;
    color: #FFF100
}

.right-info .email-register a {
    margin: 5px;
    margin-left: 0px;
}
.right-info .socials{
    text-align: center;
}
.right-info .socials a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 5px;
}

.right-info .socials a:hover {
    color: #45a478;
}

.right-info .socials a i {
    font-size: 25px;
    line-height: 25px;
    float: left;
}

.right-info .socials a i.tti-facebook {
    font-size: 23px;
    line-height: 27px;
}

.right-info .socials a i.tti-youtube {
    font-size: 30px;
}

.right-info .testimonials {
    text-align: center;
    margin-top: 30px;
}
.right-info .testimonial {
    margin-bottom: 30px;
    font-size: 14px;
    background-color: #F8F4B2;
    padding: 20px 10px;
}
.right-info .testimonials .img {
    margin: 0 auto;
    margin-bottom: 20px;
}

.right-info .testimonial div {
    text-align: left;
    font-style: normal;

}

.right-info .testimonial p {
    text-align: right;
    font-weight: bold;
    font-style: normal;

}

.right-info .testimonial i {
    text-align: right;
    display: inline-block;
    width: 100%;
}

.mc4wp-form input::-webkit-input-placeholder {
    color: #84b73e;
}
/* End - MODAL content*/
/* Loading animation */
#circleG {
    width: 70px;
    display: inline-block;
}

.circleG {
    background-color: #fff;
    float: left;
    height: 15px;
    margin-left: 8px;
    width: 15px;
    -moz-animation-name: bounce_circleG;
    -moz-animation-duration: 1.95s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -moz-border-radius: 10px;
    -webkit-animation-name: bounce_circleG;
    -webkit-animation-duration: 1.95s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-border-radius: 10px;
    -ms-animation-name: bounce_circleG;
    -ms-animation-duration: 1.95s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -ms-border-radius: 10px;
    -o-animation-name: bounce_circleG;
    -o-animation-duration: 1.95s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -o-border-radius: 10px;
    animation-name: bounce_circleG;
    animation-duration: 1.95s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    border-radius: 10px;
}

#circleG_1 {
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#circleG_2 {
    -moz-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    animation-delay: 0.91s;
}

#circleG_3 {
    -moz-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    animation-delay: 1.17s;
}

@-moz-keyframes bounce_circleG {
    50% {
        background-color: #000;
    }
}

@-webkit-keyframes bounce_circleG {
    50% {
        background-color: #000;
    }
}

@-ms-keyframes bounce_circleG {
    50% {
        background-color: #000;
    }
}

@-o-keyframes bounce_circleG {
    50% {
        background-color: #000;
    }
}

@keyframes bounce_circleG {
    50% {
        background-color: #000;
    }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Medium devices (desktops, 992px and up) */
@media (max-width: 991px) {
    #staff li.item {
        width: calc(25% - 15px);
    }
    ul.event-list li.item {
        width: calc(33.33% - 15px);
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    #staff li.item {
        width: calc(33.33% - 15px);
    }
    ul.you-might-also-like li.item {
        width: calc(33.33% - 15px);
    }

    .tab {
        border-bottom: none;
    }

    #content .right-nav {
        margin: 15px;
    }

    #content .schedule {
        margin: 15px;
    }

    ul.event-list li.item {
        width: calc(50% - 15px);
    }

    ul.home.event-list li.item {
        width: calc(50% - 15px);
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 479px) {
    #staff li.item {
        width: calc(50% - 15px);
    }
    ul.event-list li.item {
        width: calc(100% - 15px);
    }

    ul.home.event-list li.item {
        width: calc(100% - 15px);
    }

    ul.you-might-also-like li.item {
        width: calc(50% - 15px);
    }
}

@media (max-width: 320px) {
    #staff li.item {
        width: calc(100% - 15px);
    }
}

/** toa tÃ u fonts */
@font-face {
    font-family: 'ToaTau';
    src: url('../fonts/toatau.eot?-ounitn');
    src: url('../fonts/toatau.eot?#iefix-ounitn') format('embedded-opentype'),
    url('../fonts/toatau.woff?-ounitn') format('woff'),
    url('../fonts/toatau.ttf?-ounitn') format('truetype'),
    url('../fonts/toatau.svg?-ounitn#toatau') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="tti-"], [class*=" tti-"] {
    font-family: 'toatau';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tti-about:before {
    content: "\e600";
}
.tti-address:before {
    content: "\e601";
}
.tti-blog:before {
    content: "\e602";
}
.tti-calendar:before {
    content: "\e603";
}
.tti-class:before {
    content: "\e604";
}
.tti-close .path1:before {
    content: "\e605";
    color: rgb(0, 0, 0);
}
.tti-close .path2:before {
    content: "\e606";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.tti-close .path3:before {
    content: "\e607";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.tti-close .path4:before {
    content: "\e608";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.tti-close .path5:before {
    content: "\e609";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.tti-close .path6:before {
    content: "\e60a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.tti-close .path7:before {
    content: "\e60b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.tti-close .path8:before {
    content: "\e60c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.tti-community:before {
    content: "\e60d";
}
.tti-home:before {
    content: "\e60e";
}
.tti-instagram:before {
    content: "\e60f";
}
.tti-library:before {
    content: "\e610";
}
.tti-mail:before {
    content: "\e611";
}
.tti-open .path1:before {
    content: "\e612";
    color: rgb(0, 0, 0);
}
.tti-open .path2:before {
    content: "\e613";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.tti-open .path3:before {
    content: "\e614";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.tti-open .path4:before {
    content: "\e615";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.tti-open .path5:before {
    content: "\e616";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.tti-open .path6:before {
    content: "\e617";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.tti-open .path7:before {
    content: "\e618";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.tti-phone:before {
    content: "\e619";
}
.tti-service:before {
    content: "\e61a";
}
.tti-shop:before {
    content: "\e61b";
}
.tti-youtube:before {
    content: "\e61c";
}
.tti-facebook:before {
    content: "\e61d";
}


/** /end toa tÃ u fonts */
.you-might-also-like .actions .you-might-also-like .product-name {
    margin: 0px;
    margin-top: 10px;
}
.you-might-also-like .actions a {
    font-family: 'Bebas';
    font-size: 14px;
    display: inline-block;
}

.you-might-also-like .actions a:hover {
    text-decoration: none;
}

.product-collateral {
    padding: 0 15px;
    padding-right: 0;
    margin-top: 15px;
}

.class-info .right-info.registration .course-info{
    border: none;
}

.flex-control-paging li a {
    position: relative;
}

.flex-control-paging li a.flex-active {
    background: #e9e9e7;
}

.flex-control-paging li a.flex-active:before,
.flex-control-paging li a:hover:before {
    content: '';
    background: #45a478;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px;
    border-radius: 100%;
    width: 6px;
    height: 6px;
}

.flex-control-paging li a.flex-active:before {

}

.flex-control-paging li a:hover {
    background: #e9e9e7;
}

.flex-control-paging li a:hover:before{
    background: #333;
}

.homepage .flexslider {
    margin-bottom: 0px;
}

.table.no-border td{
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.green-fluid {
    background: #45a478;
}
div#search-bar {
    float: right;
    position: relative;
    margin: 6px 0;
    height: 22px;
}

.course-info h3 {
    margin-top: 0;

}

div.product-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: block;
}

div.product-image:before {
    content: '';
    padding-bottom: 56.25%;
    display: block;
}

div.product-image .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

h3.bb {
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 7px;

}

ul.nav-menu li {
    position: relative;
    font-size: 0;
}

ul.nav-menu li a {
    width: auto;
    margin: 0 7px;
    line-height: 180%;
    white-space: nowrap;
}

ul.nav-menu li i.hover {
    display: none;
}

ul.nav-menu li:hover i.hover {
    display: inline-block;
}

ul.nav-menu li .stalk {
    position: absolute;
    bottom: -38px;
    left: 50%;
    height: 40px;
    width: 1px;
    border-left: 1px dashed #fff200;
}

ul.nav-menu li .text {
    position: absolute;
    bottom: -56px;
    right: -10px;
    width: 300px;
    font-style: italic;
    text-align: right;
    font-size: 13px;
}

ul.nav-menu li a > i {
    display: block;
}


ul.nav-menu li a.current i,
ul.nav-menu li:hover i {
    color: #fff;
}

ul.nav-menu li a.current i.text,
ul.nav-menu li:hover i.text {
    color: #333;
}

ul.nav-menu li:hover .tti-home {
    /*color: #f8ef22;*/
}

ul.nav-menu li:hover .tti-calendar {
    /*color: #fff;*/
}

ul.nav-menu li:hover .tti-class {
    /*color: #cff0ce;*/
}

ul.nav-menu li:hover .tti-service {
    /*color: #fac7bc;*/
}

ul.nav-menu li:hover .tti-community {
    /*color: #d4cbeb;*/
}

ul.nav-menu li:hover .tti-shop {
    /*color: #fff1a3;*/
}

ul.nav-menu li:hover .tti-blog {
    /*color: #6ac2b1;*/
}

ul.nav-menu li:hover .tti-library {
    /*color: #ffdbc1;*/
}

ul.nav-menu li:hover .tti-about {
    /*color: #98d482;*/
}

.two-column-content {
    margin: 15px 0px;
}

#faqs .register-info,
#about-us .register-info {
    padding-top: 10px;
    background: #e9e9e7;
    min-height: 0;

}

.contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info ul i {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    text-align: center;
}

.contact-info ul a {
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    display: block;
}

#about-us .left-info .contact-info {

}

#about-us .left-info h3 {
    margin-top: 20px;
}

#about-us .left-info .contact-info .map {
    background: #fff12e;
    width: 500px;
    /*height: 403px;*/
    display: block;
    background-size: contain;
    margin-top: 20px;
}

#about-us .left-info .contact-info .map img {
    width: 100%;
    height: auto;
}

#about-us .press {
    padding: 22px;
    float: left;
    padding-top: 12px;

}

#about-us .press h4 {
    font-family: 'Lato';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#about-us .press h4 a:hover {
    text-decoration: none;
}

#about-us .press img {
    max-width: 100%;
    height: auto;
}

#about-us .press p {
    font-size: 12px;
    margin-top: 10px;

}

#about-us .press .read-more {
    text-transform: uppercase;
    font-family: 'Bebas';
    font-size: 15px;
    text-align: right;
    margin-top: 5px;
    border: none;
    padding-left: 0;
}

#about-us .press .read-more:hover {
    background: transparent;
    color: #45a478;
}

#about-us .press .item {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 10px;
}

#about-us .press .item:last-child {
    border-bottom: none;
}

.newsletter-form input[type="email"] {
    margin-bottom: 10px;
    color: #45a478;
    max-width: 250px;
    border: none;
    font-size: 12px;
    padding: 0px 6px;
}

.newsletter-form input[type="email"]::-webkit-input-placeholder {
    color: #45a478;
}

.mc4wp-form input[type=submit] {
    line-height: 20px;
    font-size: 15px;

}

.page-cover {
    position: relative;
    width: 100%;
    margin: 15px 0;
}

.page-cover img {
    max-width: 100%;
    height: auto;
}

.page-cover .flexslider {
    border: none;
    position: relative;
    width: 100%;
}

.page-cover .flexslider:before {
    padding-top: 20%;
    display: block;
    content: '';
}

.page-cover .flexslider ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-cover .flexslider,
.page-cover .flexslider ul li {
    width: 100%;
    height: 100%;
}

ul.event-list li.item .content a.name span {
    font-family: 'Bebas' !important;
}
ul.event-list li.item .content a.name {
    display: -webkit-box;
    height: 56px;
    font-size: 20px;
    line-height: 125%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    margin-bottom: 10px;
}

.bottom-footer {
    text-transform: uppercase;
    margin: 8px 0;
    font-size: 13px;
    min-height: 20px;
}

.ui-datepicker .ui-datepicker-title > span {
    font-family: 'Bebas';
    font-size: 20px;
}

.ui-datepicker th > span {
    font-family: 'Bebas';
    font-size: 15px;
}

.ui-widget-header {
    border-bottom: none;
    margin: -1px;
}

.ui-datepicker td span, .ui-datepicker td a {
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 23px;
    text-align: center;

}

.ui-datepicker td {
    padding: 3px 4px;
    text-align: center;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: inline-block;
}

.ui-datepicker td.highlight a {
    border: none;
    line-height: 24px;
}

.ui-datepicker td.highlight a:hover {
    background: rgba(0, 0, 0, 0.8);
}

.ui-datepicker th {
    padding-bottom: 5px;
}

a:hover {
    color: #45a478;
}

.contentSlider.flexslider,
.contentSlider.flexslider ul li {
    width: 100%;
    position: relative;
    border: 0;
}

.contentSlider.flexslider:before {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.contentSlider.flexslider ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentSlider.flexslider ul li {
    height: 100%;
}

@media (max-width: 1199px) {
    .ui-datepicker td {
        padding: 3px 0;
    }
}

.faq {
    margin-bottom: 40px;
}

#search .gsc-table-result,
#search .gsc-thumbnail-inside,
#search .gsc-url-top {
    padding-left: 0;
    padding-right: 0;
}

#search a.gs-title,
#search a.gs-title:active,
#search a.gs-title b:active,
#search a.gs-title b {
    text-decoration: none!important;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
}

#search .gsc-result .gs-title {
    height: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas';
    font-weight: normal;
    color: #333333;
    font-size: 20px;
}

#search a.gs-title:hover,
#search a.gs-title:hover b {
    color: #45A478;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    padding: 0 5px;
    color: #333;
}

#search .gcsc-branding {
    display: none;
}

#search .gsc-result-info {
    padding-left: 0;
}

#search td#gs_tti50 {
    padding-top: 8px;
}

#search .gsc-input-box {
    height: 38px;
}

#search .gsc-control-cse div#gsc-iw-id1 {
    border-radius: 3px;
}

#search input.gsc-search-button {
    height: 39px;
    border-radius: 0px;
    outline: none;
    background: #45a478 url('http://www.google.com/uds/css/v2/search_box_icon.png') no-repeat center center;
}

#search input.gsc-search-button:focus {
    outline: none;
}

#search .gsst_a {
    margin-top: 8px;
}

#search .gsc-control-cse {
    padding: 0;
    border: none;
}

#tt-event-detail-page a:not(.btn) {
    color: #45a478;
}

#tt-event-detail-page a:hover {

}

.b2bImage {
    width: 100%;
    margin-bottom: 10px;
}

.mc4wp-alert {
    color: #fff;
    margin-top: 10px;
}

#content.box-content {
    background: #ffffff;
    margin-top: 15px;
    margin-right: 0px;
    border: 1px solid #DCDCDC;
}